@media(min-width: 769px){
    .container {
        padding: 1rem 1rem 0;
    }
    
    header div#menu-ham {
        display: none;
    }

    .header-grid-container {
        grid-template-columns: 3rem 15rem auto 6rem;
        grid-template-rows: auto auto;
    }

    .header-grid-container img#headerLogo {
        grid-column: 1;
    }

    .header-grid-container p.siteName {
        grid-column: 2;
    }

    .header-grid-container div.socialButtons {
        grid-column: 4;
    }

    .header-grid-container nav#navigation {
        grid-column: 3;
        grid-row: 1;
    }

    nav ul#siteMenu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    nav ul#siteMenu li {
        display: block;
        border: 0;
    }

    .footer-grid-container {
        grid-template-columns: 10rem auto 0.75fr;
        justify-content: center;
        padding: 1rem;
    }

    .grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        padding: 0.5rem 1rem;
    }

    .item-event {
        grid-column: 1;
        grid-row: 1;
    }

    .item-hero {
        grid-column: 2/4;
        grid-row: 1/3;
    }

    .item-spotlight {
        grid-column: 4;
        grid-row: 1/-1;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }

    .spotlight1 {
        grid-column: 1;
        grid-row: 1;
    }

    .spotlight2 {
        grid-column: 1;
        grid-row: 2;
    }

    .spotlight3 {
        grid-column: 1;
        grid-row: 3;
        display: block;
    }

    .item-weather {
        grid-column: 1;
        grid-row: 2;
    }

    .item-join {
        grid-column: 1;
        grid-row: 3;
    }

    .item-release {
        grid-column: 2/4;
        grid-row: 3;
    }

    .item-hero .hero-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #titleCurrentDate {
        font-size: 1rem;
    }

    .item-event p.section-paragraph {
        padding: unset;
    }

    p.section-paragraph {
        font-size: unset;
    }

    p span.section-title {
        /*font-size: 20px;*/
    }

    .images-grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 300px 130px;
        grid-column-gap: 2rem;
        padding-bottom: 1rem;
    }

    .images-grid-item {

    }

    .comercial_1 {
        grid-column: 1;
        grid-row: 1;
    }

    #comercial_1_description {
        grid-column: 1;
        grid-row: 2;
    }

    .comercial_2 {
        grid-column: 2;
        grid-row: 1;
    }

    #comercial_2_description {
        grid-column: 2;
        grid-row: 2;
    }

    .comercial_3 {
        grid-column: 1;
        grid-row: 3;
    }

    #comercial_3_description {
        grid-column: 1;
        grid-row: 4;
    }

    .comercial_4 {
        grid-column: 2;
        grid-row: 3;
    }

    #comercial_4_description {
        grid-column: 2;
        grid-row: 4;
    }

    .comercial_5 {
        grid-column: 1;
        grid-row: 5;
    }

    #comercial_5_description {
        grid-column: 1;
        grid-row: 6;
    }

    .comercial_6 {
        grid-column: 2;
        grid-row: 5;
    }

    #comercial_6_description {
        grid-column: 2;
        grid-row: 6;
    }

    .comercial_7 {
        grid-column: 1;
        grid-row: 7;
    }

    #comercial_7_description {
        grid-column: 1;
        grid-row: 8;
    }

    .comercial_8 {
        grid-column: 2;
        grid-row: 7;
    }

    #comercial_8_description {
        grid-column: 2;
        grid-row: 8;
    }
    
    .comercial_9 {
        grid-column: 1;
        grid-row: 9;
    }

    #comercial_9_description {
        grid-column: 1;
        grid-row: 10;
    }

    .images-grid-item img:hover, .images-grid-item img:active {
        box-shadow: 0 0 5px #333;
    }

    .discover-container .rows .row {
        display: table-row;
    }

    .discover-container .rows .row p:nth-child(1) {
        display: table-cell;
        width: 20%;
        padding: 2rem 0.5rem;
    }

    .discover-container .rows .row p:nth-child(2) {
        display: table-cell;
        width: 30%;
        padding: 2rem 0;
    }

    .discover-container .rows .row p:nth-child(3) {
        display: table-cell;
        width: 23%;
        padding: 2rem 0;
        text-align: center;
    }

    .discover-container .rows .row a {
        display: table-cell;
        width: 27%;
        word-break: break-word;
        padding: 2rem 0.5rem;
    }

    .contact-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }

    .contact-container .contact-banner {
        grid-column: 1/-1;
        grid-row: 1;
    }
    
    .contact-container .contact-panel {
        grid-column: 1;
        grid-row: 2;
    }

    .contact-container .contact-banner h1 {
        font-size: 4rem;
    }
    
    .contact-form {
        margin: 4rem 1rem;
        padding: 3rem 6rem;
    }
    
    .contact-info {
        padding: 6rem;
    }
    
    table.table-info tr {
        display: table-row;
        padding-bottom: inherit;
    }
    
    table.table-info td:nth-child(odd) {
        background-color: unset;
    }
    
    table.table-info tr:nth-child(even) {
        background-color: whitesmoke;
    }

    .section-label {
        font-size: 1rem !important;
    }
}