
@media(min-width: 426px){
    #userInfo {
        padding: 0 12.5%;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto 12rem;
        grid-template-rows: auto auto auto auto auto;
        margin-bottom: 1rem;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        word-break: break-all;
    }

    .grid-item {
        margin: 0;
    }

    .item-hero {
        grid-column: 1/-1;
        grid-row: 1;
        height: auto;
    }

    .item-release {
        grid-column: 1/-1;
        grid-row: 2;
    }

    .item-spotlight {
        grid-column: 1/-1;
        grid-row: 3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-column-gap: 0.5rem;
    }

    .spotlight1 {
        grid-column: 1;
        grid-row: 1;
    }

    .spotlight2 {
        grid-column: 2;
        grid-row: 1;
    }

    .item-join {
        display: block;
        grid-column: 1/-1;
        grid-row: 4;
    }

    .item-event {
        grid-column: 1;
        grid-row: 5;
    }

    .item-weather {
        grid-column: 2;
        grid-row: 5;
        width: unset;
    }

    .footer-grid-container {
        display: grid;
        grid-template-columns: 10rem 1fr 1fr;
        grid-template-rows: auto auto;
        align-items: center;
        padding: 1rem 0;
        word-break: break-all;
    }

    img#footerLogo {
        max-width: 250px;
    }

    #companyInfo {
        text-align: left;
        padding: 0 1rem;
    }
    
    footer span.info {
        line-height: 1;
    }
    
    p label.section-label {
        font-size: inherit;
    }

    .item-join p.section-paragraph {
        padding: 1rem 0;
    }

    .item-hero .hero-image img {
        height: 18rem;
    }

    .item-hero h1 {
        left: 2rem;
        top: 2rem;
    }

    .spotlight-icon {
        width: 80px;
    }

    .item-event p.section-paragraph {
        padding: 0 0.5rem;
    }
}